/* NavBar.module.css */
.link {
  color: #fff;
  text-decoration: none;
  padding: 0.1rem 1rem;
  font-weight: bold;
  transition: color 0.3s ease; /* Transition effect for color change */
}

.link:hover {
  color: #663399; /* Deep purple color on hover */
}


/* Additional CSS for responsiveness */
@media (max-width: 768px) {
  .link {
    font-size: 0.8rem; /* Smaller font size for smaller screens */
  }
}